<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="row">
    <div class="col-md-4 list">
      <h3>Vegan Foods</h3>
      <app-food-list [childFoodList]="masterFoodList" (clickSender)="editFood($event)"></app-food-list>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <app-edit-food [childSelectedFood]="selectedFood" (doneButtonClickedSender)="finishedEditing()"></app-edit-food>
      <app-new-food (sendFood) = "addFood($event)"></app-new-food>
    </div>
  </div>  
</div>
